@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
* {
  padding: 0px;
  margin: 0px;
  font-family: Karla;
}
body {
  background-color: rgb(198, 202, 206);
  overflow-x: hidden;
}

.conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 50px;
}
.texto-principal {
  display: flex;
  flex-direction: column;
  padding: 50px;
  background-color: white;
  width: 600px;
  border-radius: 10px 10px 0px 0px;
}
.titulo-texto-principal {
  font-size: 17pt;
  padding-bottom: 20px;
  margin: 0px 4px;
  color: hsl(179, 64%, 43%);
}
.sub-titulo-texto-principal {
  padding-bottom: 20px;
  font-size: 17pt;
  color: hsl(71, 73%, 54%);
}
.paragrafo-texto-principal {
  font-size: 20px;
  line-height: 1.5;
  color: hsl(218, 22%, 67%);
}
@media (max-width: 375px) {
  .conteudo {
    display: flex;
    top: 0px;
  }
  .texto-principal {
    width: 315px;
    padding: 30px;
    border-radius: 0px;
  }
  .titulo-texto-principal {
    font-size: 19px;
    margin: 0px;
  }
  .sub-titulo-texto-principal {
    font-size: 18px;
  }
  .paragrafo-texto-principal {
    font-size: 16px;
  }
}
.container {
  display: flex;
}

.preco {
  padding: 50px;
  width: 250px;
  background-color: hsl(179, 62%, 42%);
  border-bottom-left-radius: 10px;
}
.sub-titulo-preco {
  color: rgba(255, 255, 255, 0.863);
  font-size: 20px;
  padding-bottom: 20px;
}
.dinheiro-preco {
  color: rgba(255, 255, 255, 0.863);
  display: flex;
  gap: 16px;
  align-items: center;
  padding-bottom: 10px;
}
.dinheiro {
  font-size: 40px;
  font-weight: bold;
}
.dinheiro-texto {
  color: hsla(0, 0%, 100%, 0.664);
}
.texto-preco {
  color: rgba(255, 255, 255, 0.863);
  padding-bottom: 30px;
}
.botao-preco {
  font-size: 16px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.863);
  width: 235px;
  height: 50px;
  background-color: hsl(71, 73%, 54%);
  border: none;
  border-radius: 5px;
  box-shadow: 10px 5px 20px hsla(180, 1%, 16%, 0.178);
  cursor: pointer;
}
.botao-preco:hover {
    transition: 0.2s;
    background-color: hsl(71, 63%, 49%);
}
.descricao {
  padding: 50px;
  width: 250px;
  background-color: hsla(179, 60%, 46%, 0.767);
  border-bottom-right-radius: 10px;
}
.titulo-descricao {
  color: rgba(255, 255, 255, 0.788);
  font-size: 20px;
  padding-bottom: 20px;
}
.paragrafo-descricao {
  font-size: 14px;
  line-height: 1.6;
  color: rgba(255, 255, 255, 0.596);
}
@media (max-width: 375px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .preco {
    width: 315px;
    border-radius: 0px;
    padding: 30px;
  }
  .texto-preco {
    font-size: 18px;
  }
  .descricao {
    width: 315px;
    border-radius: 0px;
    padding: 30px;
  }
  .botao-preco {
    width: 305px;
    height: 50px;
    box-shadow: 10px 5px 20px hsla(180, 1%, 16%, 0.178);
  }
}
.attribution {
  font-size: 13px;
  text-align: center;
  position: relative;
  left: 0px;
  top: 50px;
  padding: 20px;
}
.attribution a {
  text-decoration: none;
  color: hsl(228, 45%, 44%);
}
@media (max-width: 375px) {
  .attribution {display: none;}
}